menu background splash.png
menu color title	* #ffe8cc8c #00000000 none
menu color border	* #00000000 #00000000 none
menu color sel		* #ff091c30 #ffe8cc8c none
menu color hotsel	* #ff091c30 #ffe8cc8c none
menu color unsel	* #fff2ead7 #00000000 none
menu color hotkey	* #ffe8cc8c #00000000 none
menu color tabmsg	* #ff9db3aa #00000000 none
menu color timeout_msg	* #ff9db3aa #00000000 none
menu color timeout	* #ffe8cc8c #00000000 none
menu color help		* #ffdddd00 #00000000 none
menu vshift 15
menu rows 8
menu helpmsgrow 24
# La ligne de commande doit rester au moins une ligne au-dessus du bas de l'écran.
menu cmdlinerow 25
menu timeoutrow 25
menu tabmsgrow 27
menu tabmsg Entree : demarrer    Tab : modifier la ligne de commande
